{% extends 'main.html' %} {% block title %}Home{% endblock title %} {% block content %}
<h3 class="text-center">Welcome to SurPlus-Med</h3>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>SurPlus-Med is an online platform dedicated to connecting donors and NGOs to facilitate the donation of surplus medicines to those in need. Our mission is to bridge the gap between surplus medicines and individuals who cannot afford them, ensuring
                that essential healthcare resources reach those who need them the most.</p>
            <p>Through SurPlus-Med, donors can easily contribute their unused or surplus medicines, making a meaningful impact on the lives of others. NGOs can access the donated medicines and distribute them to individuals who are unable to afford proper healthcare.</p>
            <p>We believe that no one should go without necessary medicines due to financial constraints. With Sur-Med, we aim to create a positive change by leveraging technology and the generosity of donors to improve access to essential medicines.</p>
            <p>Join us in our mission to make a difference in the lives of individuals and communities. Together, we can ensure that no one is left behind when it comes to healthcare.</p>
        </div>
    </div>
</div>
{% endblock content %}