{% extends 'main.html' %} {% block title %}Home{% endblock title %} {% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="mt-4">
                <h1 style="font-size: 4rem;">EVERY DONOR IS A LIFE SAVER.</h1>
                <p style="font-size: 1.5rem;">Giving is not just about making a donation. It is about making a difference.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}